@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Sarabun:wght@300&display=swap');

.container-select{
    /* text-align: center; */
    align-items: center;
    background-color: #F8F1E1;
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Sarabun', sans-serif; */
    /* height: 80vw; */
    padding: 2vw;
}
.container-select2{
    background-color: #F6E6C4;
    text-align: center;
    display: block !important;
    align-items: left;
    border: 2px solid #705142;
    border-radius: 3vw;
    padding: 5vw;
}
.choice-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1vw;
}
.sub-choice-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* margin-right: 3vw;
    padding-left: 1vw; */
    margin: 1vw;
    padding: 0.5vw;
    border: 1px solid #705142;
    border-radius: 2vw;
}
.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
}
.manage-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-right: 3vw; */
}
.buy-but-select{
    width: 10vw;
    height: 2vw;
    border: 2px solid #705142;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ada4a0;
    padding: 0.2vw;
}
.add-on-select{
    width: 72vw;
    height: 2vw;
    border: 1px solid #705142;
    /* border-radius: 10vw; */
    margin-left: 1vw;
}